body {
	width: 100%;
	background-color: #212121;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
		sans-serif;
}

body, header, nav {
	margin: 0px;
}

header {
	background-color: #0099CC;
	color: white;
	padding: 10px 10px;
}

nav {
	background-color: #8DC63F;
	margin-bottom: 20px;
	padding: 5px;
	height: 50px;
}

nav ul {
	float: left;
}

nav li {
	list-style-type: none;
	color: white;
	margin-left: 25px;
	margin-bottom: 10px;
	font-size: 1.3em;
	float: left;
}

nav li a {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

nav li a:hover {
	text-decoration: underline;
}

section {
	clear: both;
	display: block;
	width: 80%;
	margin: 20px auto;
	vertical-align: top;
	text-align: center;
	min-height: 450px;
	background-color: #FFF;
	border-radius: 7px;
}

.filled:before {
    content: "\2605";
    color: #FFC000;
    position: absolute;
}

.empty:before {
	content: "\2605";
    color: lemonchiffon;
    position: absolute;
}

.empty-table:before {
	content: "\2605";
    color: lightgrey;
    position: absolute;
}


body #table {
	width: 100%;
	background-color: #212121;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
		sans-serif;
	height: 20rem;
}



/*-------------- DETAILS ---------------*/

#main-content-details {
	
 	margin: 20px auto;
	margin-bottom: 0px;
	padding-bottom: 0px;
	vertical-align: top;
	text-align: left;
	background-color: #FFF;
	border-radius: 7px;
	padding: 20px;
}

#main-content-details > #recipe-overview {
	display: flex;
	
}

#main-content-details > #recipe-overview > #recipe-details {
	display: block;
	width: 80%;
}

#main-content-details > #recipe-overview > #image {
	
	max-width: 35%;
	height: auto;
	left: 0px;
	right: 0px;
	margin-right: 1rem;
}

#main-content-details > #recipe-overview > #image > a.product-image {
	
	max-width: 100%;
	height: auto;
	left: 0px;
	right: 0px;
	
}

#main-content-details > #recipe-overview > #image > a > img {
	width: 100%;
	height: auto;
	left: 0px;
	right: 0px;
	
}

#main-content-details > #recipe-overview > #recipe-details > h4.name {
	
	max-width: 100%;
	text-align: left;
	margin-top: 0px;
	margin-bottom: .3rem;
	height: 1rem;
	padding-left: 0px;
}

#main-content-details > #recipe-overview > #recipe-details > p.type-details {
	max-width: 100%;
	text-align: left;
	margin-top: 0px;
	margin-bottom: .7rem;
	height: 1rem;
}

#main-content-details > #recipe-overview > #recipe-details > #cook-time {
	display: flex;
	align-items: baseline;
	max-width: 100%;
	text-align: left;
	margin-top: 0px;
	margin-bottom: .7rem;
	height: 1rem;
}

#main-content-details > #recipe-overview > #recipe-details > #cook-time > h5 {
	
	max-width: 2o%;
	text-align: left;
	margin-top: 0px;
	margin-bottom: 0px;
	height: 1rem;
}

#main-content-details > #recipe-overview > #recipe-details > #cook-time > p.cook-time-details {
	
	max-width: 80%;
	text-align: left;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: .5rem;
	height: 1rem;
}

#main-content-details > #recipe-overview > #recipe-details > p.recipe-description {
	
	max-width: 100%;
	text-align: left;
	margin-top: 0px;
	margin-bottom: 0px;
	height: 5rem;
}

#main-content-details > #ingredients > h5 {
	display: block;
	max-width: 100%;
	text-align: left;
}

#main-content-details > #ingredients > li.ingredients {
	display: list;
	max-width: 100%;
	text-align: left;
	margin-left: 1rem;
}

#main-content-details > #preparation > h5 {
	display: block;
	max-width: 100%;
	text-align: left;
	border-top: solid black 1px;
	padding-top: 20px;
}

#main-content-details > #preparation > li.preparation {
	display: list;
	list-style: decimal;
	max-width: 100%;
	padding-left: 0;
	margin-left: 1rem;
	list-style-position: outside;
}


/* ------------TABLE--------------*/


#main-content-table {
	clear: both;
	display: flex;
	flex-wrap: wrap;
	width: 80%;
	margin: 20px auto;
	margin-bottom: 0px;
	padding-bottom: 0px;
	vertical-align: top;
	text-align: center;
	background-color: #FFF;
	border-radius: 7px;
	padding: 20px;
}

#main-content-table > div.table {
	display: inline;
	justify-content: space-between;
	width: 30%;
	padding-top: 0px;
	margin-top: 0px;
	height: 17rem;
}

#main-content-table > div.titles {
	grid-area: title;
	height: 7rem;
	width: 10%;
	padding-top: 6.5rem;
	margin-top: 0;
}

#main-content-table > div.titles > h6 {
	margin-top: 2px;
	margin-bottom: 2px;
}

#main-content-table > div.titles > #name {
	margin-top: 6px;
	margin-bottom: 10px;
}

#main-content-table > div.titles > #rating {
	margin-top: 5px;
	margin-bottom: 0px;
}

#main-content-table > h2 {
	text-align: center;
	width: 100%;
	margin: 0px;
	padding: 0px;
	height: 1rem;
}

#main-content-table > div > .details-table {
	grid-area: info;
	display: block;
	font-size: .8rem;
}

#main-content-table > div.table > div.details-table > p.name-table {
	text-align: baseline;
	margin-top: 1px;
	margin-bottom: 0px;
	height: 2rem;
	background: lightgrey;
}

#main-content-table > div.table > div.details-table > p.type-table {
	text-align: center;
	padding-top: 0px;
	margin: 0px;
}

#main-content-table > div.table > div.details-table > p.cook-time-table {
	text-align: center;
	padding-top: 0px;
	background: lightgrey;
	margin: 0px;
}

#main-content-table > div.table > div.details-table > p.ingredients-table {
	text-align: center;
	padding-top: 0px;
	margin: 0px;	
}

#main-content-table > div.table > div.details-table > div.rating-table {
	text-align: center;
	font-size: 1.2rem;
	margin-top: 0px;
	margin-bottom: 0px;
	height: 1.5rem;
	background: lightgrey;
	
}

#main-content-table > div > p.ingredients-table {
	grid-area: ingredients;
	text-align: right;
	padding-top: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 5px;
	height: 1rem;
}

#main-content-table > div > a.product-image-table {
	grid-area: image;
	width: auto;
	height: 100%;
	
}

#main-content-table > div > a > img {
	width: auto;
	height:35%;
}



/*------------------TILE---------------------*/

#main-content {
	clear: both;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "recipes recipes recipes"
    "image image image"
    "info info info";
    column-gap: 1rem;
    row-gap: 1rem;
	width: 80%;
	margin: 20px auto;
	margin-bottom: 0px;
	padding-bottom: 0px;
	vertical-align: top;
	text-align: center;
	min-height: 450px;
	background-color: #FFF;
	border-radius: 7px;
	padding: 20px;
}

#main-content > div {
	display: inline;
	justify-content: space-between;
	background-color: lemonchiffon;
	padding-top: 0px;
	margin-top: 0px;
}

#main-content > h2 {
	text-align: center;
	width: 100%;
	grid-area: recipes;
	margin: 0px;
	padding: 0px;
}

#main-content > div > .details {
	grid-area: info;
	display: grid;
	grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "name  name"
    "rating ingredients";
    margin-bottom: 0px;  
    padding-bottom: 0px; 
}

div > h4.name {
	font-size: 1rem;
	font-family: 'Gill Sans MT', Calibri, sans-serif;
	text-align: left;
	padding-left: 5px;
	padding-top: 0px;
	margin-top: 1px;
	grid-area: name;
	height: 2rem;
}

div > div.rating {
	grid-area: rating;
	text-align: left;
	text-align: bottom;
	padding-top: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 5px;
	height: 1rem;
}

div > p.ingredients {
	grid-area: ingredients;
	text-align: right;
	padding-top: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 5px;
	height: 1rem;
}

#main-content > div > a {
	grid-area: image;
}

#main-content > div > a > img {
	max-width: 100%;
	height:auto;
}